# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
blas==1.0
ca-certificates==2020.12.8
certifi==2020.12.5
click==6.7
flask==0.12.2
gunicorn==19.9.0
intel-openmp==2019.4
itsdangerous==0.24
jinja2==2.11.2
libcxx==10.0.0
libedit==3.1.20191231
libffi==3.3
libgfortran==3.0.1
markupsafe==1.1.1
mkl==2018.0.3
mkl_fft==1.0.6
mkl_random==1.0.1
ncurses==6.2
numpy==1.14.3
numpy-base==1.14.3
openssl==1.1.1i
pandas==0.23.0
pip==20.3.3
python==3.6.12
python-dateutil==2.8.1
pytz==2020.4
readline==8.0
scikit-learn==0.19.1
scipy==1.1.0
setuptools==47.1.1
six==1.15.0
sqlite==3.33.0
tbb==2020.3
tbb4py==2020.3
tk==8.6.10
werkzeug==0.16.1
wheel==0.36.2
xz==5.2.5
zlib==1.2.11
