<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PARAPHRASE IDENTIFICATION</title>
    <link rel="shortcut icon" href="https://material.io/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'material/build/bundle-main.css') }}">
</head>
<body class="shrine-login">
<section class="header">
    <h1>PARAPHRASE IDENTIFICATION</h1>
</section>


<!--Tab content for 2 sentences-->
<div class="row my-center">
    <form action="/test2">
        <div class="column">
            <span class="sentence-label"><b>First sentence</b></span>
            <span class="sentence-label">{{first_sentence}}</span>
        </div>
        <div class="column">
            <span class="sentence-label"><b>Second sentence</b></span>
            <span class="sentence-label">{{second_sentence}}</span>
        </div>
        <div class="column">
            <span class="sentence-label"><b>Results</b></span>
            {% if similarity.is_paraphrase %}
            <span class="sentence-label">They are paraphrases.</span>
            {% else %}
            <span class="sentence-label">They are not paraphrases.</span>
            {% endif %}
            <span class="sentence-label">Paraphrase probability {{  similarity.paraphrase_probability }} %.</span>
        </div>
        <div class="button-container pd-top20">
            <button class="mdc-button mdc-button--raised compare-sentences" type="submit">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">
              Start again
            </span>
            </button>
        </div>
    </form>
</div>


<script src="{{ url_for('static', filename = 'material/build/bundle-main.js') }}"></script>
</body>
</html>
